flask==3.1.1
flask-cors==5.0.1
flask-jwt-extended==4.7.1
python-dotenv==1.1.0
supabase==2.15.2
bcrypt==4.3.0
yfinance==0.2.54
PyPortfolioOpt==1.5.6
cvxpy>=1.8.0
scikit-learn==1.6.1
numpy==2.2.6
pandas==2.2.3
requests==2.32.3

gunicorn==21.2.0
pandas-datareader==0.10.0 
aws-lambda-wsgi==0.1.1
